<header>
  <h1>Electronic Music Library</h1>
  <mat-icon class="icon">headset_mic</mat-icon>
</header>

<mat-tab-group>
  <mat-tab label="first">pierwszy content</mat-tab>
  <mat-tab label="second">drugi content</mat-tab>
</mat-tab-group>

<ng-container *ngFor="let playlist of playlistItems">
  <div *ngFor="let item of playlist">
    <mat-card class="mat-card-video">
      <a [href]="'video?id=' + item.snippet.resourceId.videoId">
        <mat-card-title>{{ item.snippet.title }}</mat-card-title>
      </a>
      <img
        mat-card-image
        [src]="item.snippet.thumbnails.medium.url"
        [alt]="item.snippet.title"
      />
      <mat-card-footer>
        {{ item.snippet.description }}
      </mat-card-footer>
    </mat-card>
  </div>
</ng-container>
