<header>
  <h1>Electronic Music Library</h1>
  <mat-icon class="icon">headset_mic</mat-icon>
</header>

{{ playlistName }}

<div *ngFor="let item of playlistItems">
  <mat-card class="mat-card-video">
    <a [href]="'video?id=' + item.snippet.resourceId.videoId">
      <mat-card-title>{{ item.snippet.title }}</mat-card-title>
    </a>
    <img
      mat-card-image
      [src]="item.snippet.thumbnails.medium.url"
      [alt]="item.snippet.title"
    />
    <mat-card-footer>
      {{ item.snippet.description }}
    </mat-card-footer>
  </mat-card>
</div>
